body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#load {
    visibility: visible;
}

#companing1 {
    visibility: hidden;
}
#companing2 {
    visibility: hidden;
}

#companing-dias1 {
    visibility: hidden;
}
#companing-dias2 {
    visibility: hidden;
}